.brightness{
    filter: brightness(50%);
  
}
.bg-black-shadow{
  background: rgba(0, 0, 0, 0.87);
}
.icon{
    font-size: 45px;
    transform: translate(46px);
}
@media (max-width:540px) {
h1{
    font-size: 20px;
  }
  .seem{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
   .d-sm-none-section{
    display: none;
   }
 .first{
  width: 30rem;
  margin-top:10px;
 }
 .flex-sm-column-reverse-one{
  display: flex;
  flex-direction: column-reverse;
  
 }
}
@media (max-width: 768px) {
   .visibility{
   display: none;
}
.d-sm-none-section{
  display: none;
 }
    }
